
@{
    ViewBag.Title = "Details";
}

<h2> Product Details</h2>
@model BOL.Product

<h2> Flower Details</h2>

<p>ID : @Model.ID</p>
<p>Title : @Model.Title</p>
<p>Description : @Model.Description</p>
<p>Unit Price : @Model.UnitPrice</p>
<p>Payment Term: @Model.PaymentTerm</p>
<p>Likes: @Model.Likes</p>
<img src="@Model.Image" width="100" height="100"/>

@Html.ActionLink("Add to Cart", "AddtoCart", "ShoppingCart", new { id = Model.ID }, null) 